version: '3.7'

services:
    app:
        build: ./
        command: streamlit run app/main.py --server.port 8501
        volumes:
            - ./:/usr/src/
          #  - ./:/usr/src/weather_data
        ports:
            - 8501:8501
        image: yourstreamlitapp:latest